.containerpic
{
    width: 700px;
    position: fixed;
    min-height: 200px;
    padding: 20px;
    top:750px;
    right:640px;
    border: 0px solid #f4f4f4;
     
}
.containerpic0
{
    width: 200px;
    float: left;
    min-height: 130px;
    padding: 10px;
    border: 0px solid ;
    
}
.containerpic1
{
    width: 120px;
    float: right;
    min-height: 35px;
    padding: 10px;
    border: 0px solid ;
    border-radius: 10px;
    background-color:lightblue;

}
.containerpic2
{
    width: 120px;
    float: right;
    min-height: 35px;
    padding: 10px;
    border: 0px solid ;
    border-radius: 10px;
    background-color:#ffb3b3;
}
.containerpic3
{
    width: 120px;
    float: right;
    min-height: 35px;
    padding: 10px;
    border: 0px solid ;
    border-radius: 10px;
    background-color:lightgreen;
}


.pic
{
    max-width: 55px;
}
 
.divpic1
{
    background: url("images/5.png") no-repeat 0 0;
    width: 50px;
    max-width: 70px;
    font-size: 12px;
    color:Maroon;
    height: 75px;
    padding: 10px;
    float: left;
}
.divpic2
{
    background: url("images/3.png") no-repeat 0 0;
    width: 50px;
    font-size: 12px;
    max-width: 70px;
    height: 61px;
    color:Maroon;
    padding: 10px;
    float: left;
}
 
.pic_select
{
    border: 1px dashed Silver;
    background-color: #c3f1f7;
}
 
.grouppic
{
    border: 0px dashed Silver;
    width: 1200px;
    height:600px;
    position: fixed;
    top: 100px;
    left:550px;
    float: center;
    background:url("images/Origianl LayoutBG.png");
}
.pic_over
{
    border: 1px dashed Maroon;
}
.grouppicBG{
    width: 1200px;
    height:600px;

}
.reloadButton{
    position: fixed;
    top: 900px;
    right: 820px;
    font-size:20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.reloadBUtton1 {
     background-color: white; 
     color: black; 
     border: 2px solid #4CAF50;

}


.reloadBUtton1 hover {
    background-color: #4CAF50;
    color: white;
}